body{
    margin: 0;padding: 0;
    min-width: 1200px;
    background: rgba(247, 198, 204, 0.3)
}
.nav-stacked{
    text-align: center;
    font-size: 1.8rem;
}
.nav-pills.nav-stacked .active a ,.nav-stacked li:hover a,.nav-stacked li.active:hover a ,.nav.navbar-nav .active a , .nav.navbar-nav li:hover a ,.nav.navbar-nav li.active:hover a{
    color: #fff;
    background-color: #8a2626;
}
.nav-pills a{
    color: #ccc;
}
.navbar-nav{
    font-size: 1.8rem;
}

.navbar-collapse{
    margin: 0;
    padding:0;
}
.navbar{
    position: fixed;
    width: 65%;
    top:0;
    z-index: 10;
}
.warpper{
    position: fixed;
    height: 100%;
    background:#bc0000;
    left: 10%;
    top: 0;
    width: 12%;
}
.logo{
    background: url('../img/logo4.png') no-repeat center;
    background-size: 20rem 22.4rem ;
    height: 300px;
}
#respro p{
    font-size: 1.8rem;
    margin-top: 15px;
}

.mb20{
    margin-bottom: 20px;
}
section{
    background: #ffffff;
    border-radius: 8px;
    padding: 15px;
}
/* 实验室主页 */
.picmap{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    margin-top: 20px;
}
.direct_1{
    width: 30%;
}
.direct_1 img{
    width: 100%;
    height: 175px;
}
.pic_p1 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.pic_p2{
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}
.perpic{
    width: 100%;
}
.part1{
    display: flex;
    flex-wrap: wrap;

    align-items: flex-start; 
    width: 100%;
}
.w18{
    width: 12%;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.mark {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(7, 9, 11, 0.4);
    color:#FFFFFF;
}
.mark p{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.perpic img{
    width: 85%;
    cursor: pointer;
    transition: all 0.6s;
}
.perpic .w18:hover img{
    transform: translateZ(0) scale(1.4);
}
.perpic .w18:hover .mark{
    display: block;
}
.fx{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
}
.fx img{
    height: 350px;
    width: auto;
}
.lifestyle,.lifestyle1{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
}
.lifestyle1{
    align-items: center;
}
.li_fx1{
    width: 25%;
    margin-top: 20px;
}
.li_fx1 img{
    height: 200px;
}
.li_fx2{
    width: 18%;
    margin-top: 20px;
}
.li_fx2 img{
    width: 100%;
}
.li_fx3 {
    width: 24%;
    margin-top: 20px;
}
.li_fx3 img {
    width: 100%;
}
.li_fx4 {
    width: 24%;
    margin-top: 20px;
}
.li_fx4 img {
    width: 100%;
}
